h1{
  font-family: 'Amita', cursive;
  text-align: center;
}

table{
  margin-left: auto;
  margin-right: auto;
  border-spacing: 5px;
}

td{
  height: 400px;
  width: 200px;
}

#one{
  background-color: #03045E;
}

#two{
  background-color: #0077B6;
}

#three{
  background-color: #00B4D8;
}

#four{
  background-color: #90E0EF;
}

#five{
  background-color: #CAF0F8;
}
